<H1> Data Science Tools and Ecosystem

<H2> In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

* <H6> Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. TensorFlow

|Data Science Tools|
|--------------------|
|Google Colab|
|JupyterLab Notebook|
|DataCamp Workspace|

<H3> Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335


<H2> Author

Xavier